extends layout

block content
    .content
        h1 Acme Expenses Backend API
        h2 Permissions
        p This API is protected by Auth0. You can use the following permissions to access the API:
        ul
            li read:reports - View all expenses
            li write:reports - Add, edit, or delete expenses
        h2 Endpoints
        ul 
            li GET / - Displays this page
            li GET #[a(href="/auth0|684c417378bc64b837ab0c08/totals") /{userid}/totals] - Returns the total amount of expenses (requires read:totals permission)
            li GET #[a(href="/auth0|684c417378bc64b837ab0c08/reports") /{userid}/reports] - Returns all expenses (requires read:reports permission)